@font-face {
    font-family: 'font';
    src: url('font/font-medium.ttf') format('truetype'); /* ajuste o caminho conforme necessário */
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'font', sans-serif;
}